{% extends 'base.html.twig' %}

{% block title %}Hello ShunController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/api/src/Controller/ShunController.php'|file_link(0) }}">src/Controller/ShunController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/api/templates/shun/index.html.twig'|file_link(0) }}">templates/shun/index.html.twig</a></code></li>
    </ul>
</div>
    <form action="{{ path('ping') }}" method="POST">
        <button class="btn btn-primary">Ping !
        </button>
    </form>
{% block javascripts %}
<script>
            // The subscriber subscribes to updates for the https://example.com/users/dunglas topic
            // and to any topic matching https://example.com/books/{id}
            const url = new URL('https://localhost/.well-known/mercure');
            url.searchParams.append('topic', 'https://localhost/.well-known/mercure/ui/');
            // url.searchParams.append('topic', 'https://example.com/books/{id}');
            // The URL class is a convenient way to generate URLs such as https://localhost/.well-known/mercure?topic=https://example.com/books/{id}&topic=https://example.com/users/dunglas

            const eventSource = new EventSource(url);

            // The callback will be called every time an update is published
            eventSource.onmessage = e => console.log(e); // do something with the payload
</script>
{% endblock %}
{% endblock %}
